{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
<section class="faculty_header">
    <div class="logo-nav">
        {% image page.logo original %}
      <nav>
        <div class="nav-links" id="navLinks">
          <i class="fa fa-times" onclick="hideMenu()"></i>
          <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/about_us">ABOUT</a></li>
            <li><a href="/courses">COURSE</a></li>
            <li><a href="/faculty">FACULTY</a></li>
            <li><a href="/gallery">GALLERY</a></li>
            <li><a href="/admission">ADMISSION</a></li>
            <li><a href="/contact">CONTACT</a></li>
          </ul>
        </div>
        <i class="fa fa-bars" onclick="showMenu()"></i>
      </nav>
    </div>
  </section>
<div class="faculty-box">
    <h1>{{ page.title }}</h1>
</div>
<div class="gallery-intro">
    {{ page.intro|richtext }}
</div>
    <div class="branches">
        {% for branch in page.branches.all %}
            <div class="branch-item">
                {% if branch.image %}
                    <a href="{{ branch.branch_faculty_page.url }}">
                        {% image branch.image width-400 %}
                    </a>
                {% endif %}
                <h2><a href="{{ branch.branch_faculty_page.url }}">{{ branch.title }}</a></h2>
            </div>
        {% endfor %}
    </div>
{% endblock %}


{% comment %} <!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }}</title>
</head>
<body>
    <h1>{{ page.title }}</h1>
    <div>{{ page.intro|richtext }}</div>
    <div class="branches">
        {% for branch in page.branches.all %}
            <div class="branch-item">
                {% if branch.image %}
                    <a href="{{ branch.branch_faculty_page.url }}">
                        <img src="{{ branch.image.url }}" alt="{{ branch.title }}">
                    </a>
                {% endif %}
                <h2><a href="{{ branch.branch_faculty_page.url }}">{{ branch.title }}</a></h2>
            </div>
        {% endfor %}
    </div>
</body>
</html> {% endcomment %}
