{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
<section class="facultybranch_header">
    <div class="logo-nav">
      {% image page.logo original %}
      <nav>
        <div class="nav-links" id="navLinks">
          <i class="fa fa-times" onclick="hideMenu()"></i>
          <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/about_us">ABOUT</a></li>
            <li><a href="/courses">COURSE</a></li>
            <li><a href="/faculty">FACULTY</a></li>
            <li><a href="/gallery">GALLERY</a></li>
            <li><a href="/admission">ADMISSION</a></li>
            <li><a href="/contact">CONTACT</a></li>
          </ul>
        </div>
        <i class="fa fa-bars" onclick="showMenu()"></i>
      </nav>
    </div>
  </section>
  <div class="faculty_branch-box">
    <h1>{{ page.title }}</h1>
</div>
<div class="gallery-intro">
  {{ page.intro|richtext }}
</div>
    <div class="faculties">
        {% for faculty in page.faculties.all %}
        <div class="logo-nav">
          {% image page.logo original %}
        </div>
            <div class="faculty-item">
                {% if faculty.image %}
                    {% image faculty.image width-200 %}
                {% endif %}
                <h2>{{ faculty.name }}</h2>
                <p>{{ faculty.designation }}</p>
                <p>{{ faculty.phone }}</p>
                <p>{{ faculty.email }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}

