@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.courses_header {
    position: relative;
    background: url('images/dtuimage.png') no-repeat center center;
    
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    overflow: hidden;

}
.courses_header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4); 
}

 .course-box  {
    position: relative;
    z-index: 1;
} 
.course-box h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -350%);;
    color: white;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);

    margin-bottom: -200px;
}

.courses-intro {
    padding: 40px 20px;
    text-align: center;
    background: #ffffff;
}

.courses-intro p {
    font-size: 1.1rem;
    color: #666;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
}


.courses {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    background-color: #f9f9f9;
}

.course {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: 20px;
    padding: 20px;
    text-align: center;
    width: 250px;
    transition: transform 0.2s;
}
.course img.course-img {
    border-radius: 10px;
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}


.course img:hover {
    opacity: 0.7;
}

.course h2 {
    font-size: 24px;
    margin: 10px 0;
}

.course p {
    font-size: 1em;
    color: #666;
}
 
.project-img {
    object-fit: cover;
    height: 17rem;
    border-bottom: 1px solid var(--bs-gray-300);
}

.effect-bubba {
    position: relative;
}

figure.effect-bubba img {
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}

figure.effect-bubba:hover img {
    opacity: 0.4;
    filter: blur(1px);
    cursor: pointer;
}

.effect-bubba div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    opacity: 0;
    background: gray;
    padding: 0.5rem;
    border-radius: 0.25rem;
    color: white;
    transition: visibility 0s, opacity 0.5s linear;
}

.effect-bubba :hover div {
    opacity: 1;
}